@page
@model YellowBucket.Pages.Rental.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Rentals</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rentals.Inventory)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rentals.Inventory.InventoryId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rentals.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rentals.Customer.CustomerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rentals.Rental_KioskId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rentals.Rental_KioskId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rentals.Rental_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rentals.Rental_Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rentals.Return_KioskId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rentals.Return_KioskId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rentals.Return_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rentals.Return_Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rentals.Created_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rentals.Created_Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rentals.Updated_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rentals.Updated_Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rentals.Deleted_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rentals.Deleted_Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Rentals.RentalsId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
