@page
@model YellowBucket.Pages.Ratings.IndexModel

@{
    ViewData["Title"] = "Index";
}

<style>
    h1 {
        color: blue;
        font-family: Impact;
        font-weight: bold;
    }

    thead {
        color: blue;
        font-family: 'Times New Roman';
    }

    body{background-color:lemonchiffon;

    }

    a.navbar-brand {
        font-weight: bolder;
        font-size: xx-large;
        color: yellow !important;
    }

    ul.navbar-nav.flex-grow-1 {
        font-size: medium;
        font-weight: bolder;
    }

    nav.navbar.navbar-expand-sm.navbar-toggleable-sm.navbar-light.bg-white.border-bottom.box-shadow.mb-3 {
        background-color: blue !important;
    }
</style>

<h1>Ratings</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rating[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Rating) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.RatingId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.RatingId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.RatingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
