@page
@model YellowBucket.Pages.WishList.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Wishlist</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Wishlist.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Wishlist.Customer.CustomerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Wishlist.Movie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Wishlist.Movie.MovieId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Wishlist.Created_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Wishlist.Created_Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Wishlist.Updated_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Wishlist.Updated_Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Wishlist.Deleted_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Wishlist.Deleted_Date)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Wishlist.WishlistId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
