@page
@model YellowBucket.Pages.WishList.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Wishlist</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Wishlist.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Wishlist.Customer.CustomerId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Wishlist.Movie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Wishlist.Movie.MovieId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Wishlist.Created_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Wishlist.Created_Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Wishlist.Updated_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Wishlist.Updated_Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Wishlist.Deleted_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Wishlist.Deleted_Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Wishlist.WishlistId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
