@page
@model YellowBucket.Pages.Inventories.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Inventory</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inventory.Kiosk)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inventory.Kiosk.KioskId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inventory.Movie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inventory.Movie.MovieId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inventory.Dvd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inventory.Dvd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inventory.BluRay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inventory.BluRay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inventory.IsRented)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inventory.IsRented)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inventory.Created_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inventory.Created_Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inventory.Updated_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inventory.Updated_Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Inventory.Deleted_Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Inventory.Deleted_Date)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Inventory.InventoryId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
